<div id="generalTabContent" class="tab-content responsive hidden-xs hidden-sm">
    <form action="/api/adsg/add" method="post">
        <div class="form-body pal">
            <div class="form-group">
                <select name="username" class="form-control">
                    <option>Username</option>
                    <option value="0">Male</option>
                    <option value="1">Female</option>
                    <option value="2">Other</option>
                </select>
            </div>
            <div class="form-group">
                <select name="security-group" class="form-control">
                    <option>Security Group</option>
                    <option value="0">Male</option>
                    <option value="1">Female</option>
                    <option value="2">Other</option>
                </select>
            </div>
            <div class="form-group">
                <select name="folders" class="form-control">
                    <option>Folder</option>
                    <option value="0">Male</option>
                    <option value="1">Female</option>
                    <option value="2">Other</option>
                </select>
            </div>
        </div>
        <div class="form-actions text-right pal">
            <button type="submit" class="btn btn-primary">
                Submit</button>
        </div>
    </form>
</div>