<div id="generalTabContent" class="tab-content responsive hidden-xs hidden-sm">
    <table id="all-adsg" class="table table-hover table-striped">
        <thead>
        <tr>
            <th>#</th>
            <th><%- __('adsg.index.table.username') %></th>
            <th><%- __('adsg.index.table.security_group') %></th>
            <th><%- __('adsg.index.table.folder_names') %></th>
            <th><%- __('adsg.index.table.actions.title') %></th>
        </tr>
        </thead>
        <tbody>
        </tbody>
    </table>
    <a href="/adsg/add" class="btn btn-green">Add new entry</a>
</div>
